@model IEnumerable<TaskBookWebApp.Models.TaskData>

@{
    ViewData["Title"] = "ViewData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Task List</h1>
<p>
    <a asp-action="StoreData" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedTo)
                </td>
                <td>
                    @item.Date.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="EditData" asp-route-id="@item.TaskId" class="btn btn-warning">Edit</a>
                    <a asp-action="DeleteData" asp-route-id="@item.TaskId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
